/* ========
global css  
======== */
:root {
  --color-primary: #ff42a5;
  --color-secondary: #4ec5f7;
  --color-light-1: #fff;
  --color-light-2: rgba(255, 255, 255, 0.6);
  --color-light-3: rgba(11, 2, 35, 0.1);
  --color-dark-1: #0b0223;
  --color-dark-2: #534c64;
  --color-dark-3: #3c354f;
  --color-gradient-1: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  --color-gradient-2: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  --color-gradient-3: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  --font-primary: "Work Sans", sans-serif;
  --conatiner-width: 144rem;
  --sec-padding-small: 9.5rem 0;
  --sec-padding-medium: 12rem 0;
  --sec-padding-big: 15rem 0;
}
* {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: inherit;
}
html {
  font-size: 62.5%; /* 1 rem = 10px */
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
  font-size: 1.8rem;
  line-height: 1;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  display: block;
}
.btn {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  padding: 1.5rem 3rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-light-1);
}
.btn-seconday {
  background-color: var(--color-secondary);
  color: var(--color-light-1);
}
.btn-light {
  background-color: var(--color-light-1);
  color: var(--color-primary);
}
.container {
  max-width: var(--conatiner-width);
  margin: 0 auto;
}
/* ========
Header section
======== */
.header-section {
  box-shadow: 0px 0.4rem 3rem 0px rgba(0, 0, 0, 0.05);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 13rem;
}
.logo {
}
.logo .logo-link {
  display: flex;
  gap: 2rem;
}
.logo .logo-img {
  max-width: 8.6rem;
  align-self: center;
}
.logo .logo-name {
  font-size: 4.5rem;
  font-weight: 700;
}
.logo .logo-name span {
  color: var(--color-primary);
}

.nav {
}
.nav .nav-list {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 3.2rem;
}

.nav .nav-list .list-item {
}
.nav .nav-list .list-item .list-link {
  color: var(--color-dark-3);
  font-weight: 500;
  position: relative;
  padding-bottom: 5px;
}
.nav .nav-list .list-item .list-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  border-radius: 2px;
  background-color: var(--color-primary);
  transition: all 0.4s ease;
}
.nav .nav-list .list-item .list-link:hover::before {
  width: 100%;
}

.nav-social {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding: 1.7rem 2.4rem;
  background-color: rgba(11, 2, 35, 0.1);
  border-radius: 0.8rem;
}

.nav-social .nav-social-text {
  color: var(--color-dark-3);
  font-weight: 500;
  margin-right: 0.8rem;
}

.nav-social .nav-social-icon {
}

.nav-social .nav-social-icon a {
  display: inline-block;
  transform: scale(1);
  transition: all 0.2s ease;
}
.nav-social .nav-social-icon a:hover {
  transform: scale(1.1);
}

.nav-social .nav-social-icon a img {
}
